
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <div class = "row">
    <div class = "col-lg-2">
      <div class = "row button-row">
        <button type="button", class ="btn btn-primary btn-success", onClick = "addBox()">Add a Node</button>
      </div>
      <div class = "row button-row">
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removeBox()">Remove a Node</button>
      </div>
      <div class = "row button-row" >
        <button type="button", class ="btn btn-primary btn-success", onClick = "addNext()">Add a Next Field</button>
      </div>
      <div class = "row button-row" >
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removeNext()">Remove a Next Field</button>
      </div>
      <div class = "row button-row">
        <button type="button", class ="btn btn-primary btn-success", onClick = "addPrev()">Add a Prev Field</button>
      </div>
      <div class = "row button-row" >
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removePrev()">Remove a Prev Field</button>
      </div>
    </div>
    <div class = "col-lg-10" id = "body-col">
  	  <div id="container" style = "border: 1px solid black;"></div>
      <script src="https://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
      <script defer="defer">
        var boxCount = 1;
        var remove = false; 
        var nextP = false; 
        var prevP = false;
        var removenextP = false;
        var removeprevP = false;
        var nextColor = "#FF0000";
        var prevColor = "#00FF00";
        var height = 50;
        var width = 100;
        
        var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-185, stroke: 'black', strokeWidth: 4 });
        addBox();

        function removeBox(){ remove = true; }
        function addNext(){ nextP = true; }
        function addPrev(){ prevP = true; }
        function removeNext() { removenextP = true; }
        function removePrev() { removeprevP = true; }
        function addBox(){
          var layer = new Kinetic.Layer();
          //Make the group that will hold the node and the next and previous pointers
    	    var group = new Kinetic.Group({x: 289, y: 100, offset: [50, 25], width: width, height: 2*height, draggable: true, id: "node"+ boxCount++ });
          //The box that represents the node
          var box = new Kinetic.Rect({ width: width, height: height, fill: '#00D2FF', stroke: 'black', strokeWidth: 4});
          group.add(box);
  	      layer.add(group);
        	stage.add(layer);
        	
          group.on('dragstart', function() { console.log(group); });
        	
          group.on('dragend', function() { console.log(group.attrs.id + " " + group.attrs.x + "  " + group.attrs.y); });
        	
          group.on('click', function(){
        		if(remove){
        			layer.remove(group);
        			stage.remove(layer);
              remove = false;
        		}
            else if(nextP){
              //If there is not already a next field add one
              if(group.find("#next").length == 0){
                var next = new Kinetic.Rect({y: 50, width: width, height: height/2, fill: nextColor, stroke: 'black', strokeWidth: 4, id: "next"});
                group.add(next);
              }
              //If there is a prev pointer move it down
              if(group.find("#prev").length != 0){
                group.find("#prev")[0].setY(75);
              }
              nextP = false;
            }
            else if(prevP){
              //If there  is not already a prev field add one
              if(group.find("#prev").length == 0){
                var prev = new Kinetic.Rect({y: 75, width: width, height: height/2, fill: prevColor, stroke: 'black', strokeWidth: 4, id: "prev"});
                group.add(prev);
              }
              //If there is not a next pointer move move the prev pointer up so it is touching the node
              if(group.find("#next").length == 0){
                group.children[1].attrs.y(50);
              }
              prevP = false;
            }
            else if(removenextP){
              //If there  is a next field remove it
              if(group.find("#next").length != 0){
                var next = group.find("#next");
                next.remove();
              }
              //If there is a prev field move it up so it is touching the node
              if(group.find("#prev").length != 0){
                group.find("#prev")[0].setY(50);
              }
              removenextP = false;
            }
            else if(removeprevP){
              //If there  is a next field remove it
              if(group.find("#prev").length != 0){
                var next = group.find("#prev");
                next.remove();
              }
              removeprevP = false;
            }
            layer.draw();
        	});	
        }
      </script>
    </div>
</body>
</html>



