
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <% if !user_signed_in? %>
  <div class ="welcome">
    Sign in plz, thanks.
  </div>
  <% else %>
    <%= link_to "Start practicing with lists now!", {:controller => "scenes", :action => "index", :question => 1 }, class: "btn btn-lg btn-success" %>
  <% end %> 
  </body>
</html>



