
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <div class = "row">
    <div class = "col-lg-2">
      <div class = "row button-row">
        <button type="button", class ="btn btn-primary btn-success", onClick = "addBox()">Add a Node</button>
      </div>
      <div class = "row button-row", style = "display: none", id = "removeButton">
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removeBox()">Remove Node</button>
      </div>
      <div class = "row button-row", style = "display: none", id = "addPointerButton" >
        <button type="button", class ="btn btn-primary btn-success", onClick = "addPointer()">Add a Pointer</button>
      </div>
      <div class = "row button-row", style = "display: none", id = "removePointerButton" >
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removePointer()">Remove a Pointer</button>
      </div>
      <div class = "row button-row", style = "display: none", id = "addArrowButton" >
        <button type="button", class ="btn btn-primary btn-success", onClick = "addArrow()">Add an Arrow</button>
      </div>
      <div class = "row button-row", style = "display: none", id = "removeArrowButton" >
        <button type="button", class ="btn btn-primary btn-danger", onClick = "removePointer()">Remove an Arrow</button>
      </div>
    </div>
    <div class = "col-lg-10" id = "body-col">
      <div id="container" style = "border: 1px solid black;"></div>
      <script src="https://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
      <script defer="defer">
        var boxCount = 1;
        var focus = 0;
        var target = 0;
        var connect = false;
        var pointerColor = "#FF0000";
        var height = 100;
        var width = 100;
        var opacity = 0.45;
        
        var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-185, stroke: 'black', strokeWidth: 4 });
        var layer = new Kinetic.Layer();
        
        addBox();
        function addBox(){
          //Make the group that will hold the node and the pointers
          var group = new Kinetic.Group({x: 289, y: 100, width: 2*width, height: height, draggable: true, id: "node"+ boxCount++ , opacity: opacity});
          //The box that represents the node
          var box = new Kinetic.Rect({x: width/2, width: width, height: height, fill: '#00D2FF', stroke: 'black', strokeWidth: 2});
          group.add(box);
          layer.add(group);
          stage.add(layer);
          
          group.on('dragstart', function() { 
            focusOff();
            focusOn(group);});
          
          group.on('dragend', function() { focusOn(group); });
          
          group.on('click', function(){
            if(connect){
              target = group;
              makeConnection();
            }else{
              focusOff();
              focusOn(group);
            }
          })
        }

        function focusOff(){
          if(focus != 0){
              focus.opacity(opacity);
              $("#removeButton").hide();
              $("#addPointerButton").hide();
              $("#removePointerButton").hide();
              $("#addArrowButton").hide();
              layer.drawScene();
            }
        }

        function focusOn(group){
          focus = group;
          focus.opacity(1);
          $("#removeButton").show();
          if(focus.children.length > 1){
            $("#removePointerButton").show();
            $("#addArrowButton").show();
          }
          if(focus.children.length < 3){
            $("#addPointerButton").show();
          }  
          focus.drawScene();
        }

        function addPointer(){
          if(focus.children.length == 1){
            var box = new Kinetic.Rect({width: width/2, height: height, fill: pointerColor, stroke: 'black', strokeWidth: 2});
          }else{
            var box = new Kinetic.Rect({ x: width*3/2, width: width/2, height: height, fill: pointerColor, stroke: 'black', strokeWidth: 2});
            $("#addPointerButton").hide();
          }
          $("#removePointerButton").show();
          $("#addArrowButton").show();
          focus.add(box);
          layer.drawScene();
        }

        function removePointer(){
          if(focus.children.length == 2){
            $("#removePointerButton").hide();
            $("#addArrowButton").hide();
          }
          focus.children[focus.children.length-1].destroy();
          $("#addPointerButton").show();
          layer.drawScene();
        }
        
        function removeBox(){
          focus.destroy();
          $("#removeButton").hide();
          $("#addArrowButton").hide();
          $("#addPointerButton").hide();
          $("#removePointerButton").hide();
          layer.drawScene();
          focus = 0;
        }

        function addArrow(){
          connect = true;
        }

        function makeConnection(){
          console.log("trying to make connection")
          var con = addConnection(focus, target);
          console.log(con);
          layer.add(con);
          stage.draw();
          connect = false;
        }

        function addConnection(parentNode, childNode){
          var connector = new Kinetic.Shape({
                sceneFunc: function (context) {
                    var rectParent = parentNode.children[0];
                    var rectChild = childNode.children[0];
                    var ctx = context;
                    var x1 = parentNode.getX() + rectParent.getWidth()/2;
                    var y1 = parentNode.getY() + rectParent.getHeight()/2;
                    var x2 = childNode.getX() + rectChild.getWidth()/2; 
                    var y2 = childNode.getY() + rectChild.getHeight()/2;
                    ctx.beginPath();
                    ctx.moveTo(x1, y1);
                    ctx.lineTo(x2, y2);
                    ctx.lineTo(x2, y2+5);
                    ctx.lineTo(x1, y1+5);
                    ctx.lineTo(x1, y1);
                    ctx.closePath();
                    ctx.fillStrokeShape(this);
                },
                points: [1, 1, 1, 3],
                opacity: 0.5,
                fill: pointerColor,
                strokeWidth: 2,
                draggable: false
          });
          return connector;
        }
      </script>
    </div>
</body>
</html>



