<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<iframe src="https://docs.google.com/document/d/1DRfBq9Fv3qq4OGB75xMATMboXAisLcM6G-RMyXTgOaw/pub?embedded=true" width = "780px" height = "1580px"></iframe>
	</div>
</div>
<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
		<%= link_to "I agree to these terms", new_user_registration_path, class: "btn btn-primary btn-success" %>
	</div>
</div>