<p>Everything on this site is used for grading and educational purposes only. Your name/student number/any other private information will not be released to anyone.</p>

<%= link_to "I agree to these terms", new_user_registration_path, class: "btn btn-primary btn-success" %>