
<!DOCTYPE HTML>
<html>
<head>
  <script type = "text/javascript">
    var scene_id = <%=@scene.id%>;
    var working = false;
    function showHint(){
          console.log("in show hint");
          $("#hint").show();
          $.ajax({
                type:'GET',
                url:"scenes/"+scene_id+".js",
                data: {hint: true}
              });
        }
    <% if !User.find(@scene.creator_id).partner_id.nil? && User.find(@scene.creator_id).partner_id != -1 %>
      window.onload = firstrun();
      function firstrun(){
        setTimeout(update_addtoback, 5000);
      }
      function update_addtoback(){
        if(!working){
          $.ajax({
                type:'GET',
                url:"scenes/"+scene_id+".js",
              });
        }
           setTimeout(update_addtoback, 10000);
        }
    <% end %>
  </script>
</head>
  <body>
    <% if !user_signed_in? %>
    <div class ="welcome">
      Sign in plz, thanks.
    </div>
    <% else %>
      <div class = "row">
        <h5> In this exercise you need to add the unconnected node to the end of the list. Make sure that when you are done the list has all 5 nodes.</h5>
      </div>
      <div class = "row" style = "display: none;" id = "hint">
        <h5> To add the node to the end of the list:
          <ul>
            <li>Click on the current last node.</li>
            <li>Click the Add a Pointer button</li>
            <li>Click the unconnected node.</li>
          </ul> 
        </h5>
      </div>
      <div class = "row">
        <button type="button", class ="btn btn-primary btn-warning", onClick = "showHint()">Show Hint</button>
      </div>
      <div class = "row button-row">
        <div class = "col-lg-2">
          <div class = "row button-row", style = "display: none", id = "addArrowButton" >
            <button type="button", class ="btn btn-primary btn-success", onClick = "addArrow()">Add an Arrow</button>
          </div>
          <div class = "row button-row" style = "display: none", id = "moveArrowButton">
            <button type="button", class ="btn btn-primary btn-warning", onClick = "moveArrow()">Move an Arrow</button>
          </div>
          <% if User.find(@scene.creator_id).partner_id.nil? || User.find(@scene.creator_id).partner_id == -1 %>
            <div class = "row button-row">
              <button type="button", class ="btn btn-primary btn-info", onClick = "restart()">Restart</button>
            </div>
          <% end %>
        </div>
        <div class = "col-lg-10" id = "body-col" style = "padding-bottom: 3px">
          <div id="container" style = "border: 1px solid black;"></div>
          <script defer="defer">
            var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-285, stroke: 'black', strokeWidth: 4 });
            var layer = new Kinetic.Layer();
          </script>
          <div id = "clearme">
            <%= render 'scenes/addtoback2view' %>
          </div>
        </div>
      </div>
    <%end%>
    <div class = "row">
      <div class = "col-md-1 col-md-offset-10">
        <%= simple_form_for @scene, :html => { :method => :put} do |f| %>
        <%= f.submit "Submit", class: "btn btn-medium btn-success" %>
        <% end %>
      </div>
    </div>
  </body>
</html>