
<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <% if !user_signed_in? %>
  <div class ="welcome">
    Sign in plz, thanks.
  </div>
  <% else %>
  	<div class = "row">
  		<h5> In this exercise you need to make a list with a list head, 3 nodes that are connected via pointers and each node needs to hold a String that stores the name of the associated item.</h5>
  	</div>
    <div class = "row button-row">
      <div class = "col-lg-2">
      	<div class = "row button-row" id = "headButton">
          <button type="button", class ="btn btn-primary btn-success", onClick = "addHead()">Add List Head</button>
        </div>
        <div class = "row button-row">
          <button type="button", class ="btn btn-primary btn-success", onClick = "addBox()">Add a Node</button>
        </div>
        <div class = "row button-row", style = "display: none", id = "removeButton">
          <button type="button", class ="btn btn-primary btn-danger", onClick = "removeBox()">Remove Node</button>
        </div>
        <div class = "row button-row", style = "display: none", id = "addPointerButton" >
          <button type="button", class ="btn btn-primary btn-success", onClick = "addPointer()">Add a Pointer</button>
        </div>
        <div class = "row button-row", style = "display: none", id = "removePointerButton" >
          <button type="button", class ="btn btn-primary btn-danger", onClick = "removePointer()">Remove a Pointer</button>
        </div>
        <div class = "row button-row", style = "display: none", id = "addArrowButton" >
          <button type="button", class ="btn btn-primary btn-success", onClick = "addArrow()">Add an Arrow</button>
        </div>
        <div class = "row button-row", style = "display: none", id = "removeArrowButton" >
          <button type="button", class ="btn btn-primary btn-danger", onClick = "removePointer()">Remove an Arrow</button>
        </div>
      </div>
      <div class = "col-lg-10" id = "body-col" style = "padding-bottom: 3px">
        <div id="container" style = "border: 1px solid black;"></div>
        <script src="https://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.2.min.js"></script>
        <script defer="defer">
          var boxCount = 1;
          var scene_id = <%=@scene.id%>;
          var focus = 0;
          var target = 0;
          var connect = false;
          var pointerColor = "#FF0000";
          var height = 100;
          var width = 100;
          var opacity = 0.45;
          var old_x = 0;
          var old_y = 0;
          
          var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-185, stroke: 'black', strokeWidth: 4 });
          var layer = new Kinetic.Layer();

          function addHead(){
          	$.ajax({
            	type:'POST',
            	url:"/nodes",
            	data: {id: scene_id, scene_count: boxCount, head: true}
          	});
          	var group = new Kinetic.Group({x: 289, y: 100, width: 2*width/3, height: height/2, draggable: true, id: boxCount++ , opacity: opacity, datatype1: "", data1: "", datatype2: "", data2: "", pointer: false, head: true});
            //The box that represents the node
            var box = new Kinetic.Rect({x: width/2, width: 2*width/3, height: height/2, fill: '#CC0099', stroke: 'black', strokeWidth: 2, id: "node"});
            group.add(box);
            layer.add(group);
            stage.add(layer);
            
            group.on('dragstart', function() { 
              focusOff();
              focusOn(group);
              old_x = focus.attrs.x;
              old_y = focus.attrs.y;
          	});
            
            group.on('dragend', function() { 
            	focusOn(group);
            	$.ajax({
            	type: "GET",
            	url: "/actions",
            	data: {id: scene_id, scene_count: focus.id(), start_x: old_x, start_y: old_y, end_x: focus.attrs.x, end_y: focus.attrs.y}
             	}); 
            });
            
            group.on('click', function(){
              if(connect){
                target = group;
                makeConnection();
              }else{
                focusOff();
                focusOn(group);
              }
            })
            $("#headButton").hide();
          }
          
          function addBox(){
          	$.ajax({
            	type:'POST',
            	url:"/nodes",
            	data: {id: scene_id, scene_count: boxCount, head: false}
          	});
            //Make the group that will hold the node and the pointers
            var group = new Kinetic.Group({x: 289, y: 100, width: 2*width, height: height, draggable: true, id: boxCount++ , opacity: opacity, datatype1: "", data1: "", datatype2: "", data2: "", pointer: false, head: false});
            //The box that represents the node
            var box = new Kinetic.Rect({x: width/2, width: width, height: height, fill: '#00D2FF', stroke: 'black', strokeWidth: 2, id: "node"});
            group.add(box);
            layer.add(group);
            stage.add(layer);
            
            group.on('dragstart', function() { 
              focusOff();
              focusOn(group);
              old_x = focus.attrs.x;
              old_y = focus.attrs.y;
          	});
            
            group.on('dragend', function() { 
            	focusOn(group);
            	$.ajax({
            	type: "GET",
            	url: "/actions",
            	data: {id: scene_id, scene_count: focus.id(), start_x: old_x, start_y: old_y, end_x: focus.attrs.x, end_y: focus.attrs.y}
             	}); 
            });
            
            group.on('click', function(){
              if(connect){
                target = group;
                makeConnection();
              }else{
                focusOff();
                focusOn(group);
              }
            })
          }

          function focusOff(){
            if(focus != 0){
                focus.opacity(opacity);
                $("#removeButton").hide();
                $("#addPointerButton").hide();
                $("#removePointerButton").hide();
                $("#addArrowButton").hide();
                layer.drawScene();
              }
          }

          function focusOn(group){
            focus = group;
            focus.opacity(1);
            if(!focus.attrs.head){
	            $("#removeButton").show();
	            if(focus.attrs.pointer){
	              $("#removePointerButton").show();
	              $("#addArrowButton").show();
	            }else{
	              $("#addPointerButton").show();
	            }  
	            focus.drawScene();
	            $("#dataForm").show();
	            setDataForm();
        	}
        	else{
        		$("#dataForm").hide();
        		$("#addArrowButton").show();
        		$("#removeButton").hide();
        		$("#addPointerButton").hide();
        	}
          }

          function setDataForm(){
          	if(focus.attrs.datatype1 != ""){
          		$("#datatype1").val(focus.attrs.datatype1);
          		$("#data1").val(focus.attrs.data1);
          	}else{
          		$("#datatype1").prop("selectedIndex", -1)
          		$("#data1").val("");
          	}
          	if(focus.attrs.datatype2 != ""){
          		$("#datatype2").val(focus.attrs.datatype2);
          		$("#data2").val(focus.attrs.data2);
          	}else{
          		$("#datatype2").prop("selectedIndex", -1)
          		$("#data2").val("");
          	}
          }

          function saveData(){
          	if($("#datatype1").prop("selectedIndex") != -1){
          		if($("#data1").val() != ""){
          			focus.attrs.datatype1 = $("#datatype1").val();
          			focus.attrs.data1 = $("#data1").val();
          		}
          	}
          	if($("#datatype2").prop("selectedIndex") != -1){
          		if($("#data2").val() != ""){
          			focus.attrs.datatype2 = $("#datatype2").val();
          			focus.attrs.data2 = $("#data2").val();
          		}
          	}
          	var firstText = new Kinetic.Text({
	            x: focus.children[0].getX() + width/10,
	            y: focus.children[0].getY() + height/4,
	            text: focus.attrs.datatype1 + " - " + focus.attrs.data1,
	            fontSize: 14,
	            fontFamily: 'Calibri',
	            width: width-width/5,
	            align: 'left',    
	            fill: 'black'
	          });
          	var secondText = new Kinetic.Text({
	            x: focus.children[0].getX() + width/10,
	            y: focus.children[0].getY() + height/2,
	            text: focus.attrs.datatype2 + " - " + focus.attrs.data2,
	            fontSize: 14,
	            fontFamily: 'Calibri',
	            width: width,
	            align: 'left',    
	            fill: 'black'
	          });
          	if(focus.attrs.datatype1 != "")
          		focus.add(firstText);
          	if(focus.attrs.datatype2 != "")
          		focus.add(secondText);
          	layer.drawScene();
          	$.ajax({
            	type: "GET",
            	url: "/nodes",
            	data: {id: scene_id, scene_count: focus.id(), datatype1: focus.attrs.datatype1, datatype2: focus.attrs.datatype2, data1: focus.attrs.data1, data2: focus.attrs.data2}
             	}); 
          }

          function addPointer(){
              var box = new Kinetic.Rect({ x: width*3/2, width: width/2, height: height, fill: pointerColor, stroke: 'black', strokeWidth: 2});
              var simpleText = new Kinetic.Text({
	            x: box.getX(),
	            y: box.getY()+height/2-35,
	            text: 'Next',
	            fontSize: 20,
	            fontFamily: 'Calibri',
	            width:box.getWidth() ,
	            align: 'center',    
	            fill: 'white'
	          });
              $.ajax({
            	type: "GET",
            	url: "/nodes",
            	data: {id: scene_id, scene_count: focus.id(), next_pointer: true}
              });
            // }else{
            //   var box = new Kinetic.Rect({width: width/2, height: height, fill: pointerColor, stroke: 'black', strokeWidth: 2});
            //   $.ajax({
            // 	type: "GET",
            // 	url: "/nodes",
            // 	data: {id: scene_id, scene_count: focus.id(), prev_pointer: true}
            //   });
            //   $("#addPointerButton").hide();
            // }
            $("#removePointerButton").show();
            $("#addArrowButton").show();
            $("#addPointerButton").hide();
            focus.add(box);
            focus.add(simpleText);
            focus.attrs.pointer = true;
            layer.drawScene();

          }

          function removePointer(){
            if(focus.children.length == 2){
              $("#removePointerButton").hide();
              $("#addArrowButton").hide();
              $.ajax({
            	type: "GET",
            	url: "/nodes",
            	data: {id: scene_id, scene_count: focus.id(), next_pointer: false}
              });
            }
            else{
            	$.ajax({
            	type: "GET",
            	url: "/nodes",
            	data: {id: scene_id, scene_count: focus.id(), prev_pointer: false}
              });
            }
            focus.children[focus.children.length-1].destroy();
            $("#addPointerButton").show();
            $("#removePointerButton").hide();
            $("#addArrowButton").hide();
            layer.drawScene();
          }
          
          function removeBox(){
            focus.destroy();
            $("#removeButton").hide();
            $("#addArrowButton").hide();
            $("#addPointerButton").hide();
            $("#removePointerButton").hide();
            layer.drawScene();
            focus = 0;
          }

          function addArrow(){
            connect = true;
          }

          function makeConnection(){
            var con = addConnection(focus, target);
            layer.add(con);
            layer.moveToTop(con);
            stage.draw();
            connect = false;
            $.ajax({
            	type: "GET",
            	url: "/nodes",
            	data: {id: scene_id, scene_count: focus.id(), next_pointer_target: target.id()}
            });
          }

          function addConnection(parentNode, childNode){
          	if(parentNode.attrs.head){
          		parentNode.attrs.pointer = true;
          		var connector = new Kinetic.Shape({
	                  sceneFunc: function (context) {
	                      var rectParent = parentNode.children[0];
	                      var rectChild = childNode.children[0];
	                      var ctx = context;
	                      var x1 = parentNode.getX() + 116;
	                      var y1 = parentNode.getY() + rectParent.getHeight()/2;
	                      var x2 = childNode.getX() + rectChild.getWidth()/2; 
	                      var y2 = childNode.getY() + rectChild.getHeight()/2;
	                      ctx.beginPath();
	                      ctx.moveTo(x1, y1);
	                      ctx.lineTo(x2-10, y2);
	                      ctx.lineTo(x2-10, y2-7.5);
	                      ctx.lineTo(x2, y2+2.5);
	                      ctx.lineTo(x2-10, y2+12.5);
	                      ctx.lineTo(x2-10, y2+5);
	                      ctx.lineTo(x1, y1+5);
	                      ctx.lineTo(x1, y1);
	                      ctx.closePath();
	                      ctx.fillStrokeShape(this);
	                  },
	                  points: [1, 1, 1, 3],
	                  opacity: 0.5,
	                  fill: pointerColor,
	                  strokeWidth: 2,
	                  stroke: 'black',
	                  draggable: false
	            });
          	}
          	else{
	            var connector = new Kinetic.Shape({
	                  sceneFunc: function (context) {
	                      var rectParent = parentNode.children[0];
	                      var rectChild = childNode.children[0];
	                      var ctx = context;
	                      var x1 = parentNode.getX() + 2*rectParent.getWidth();
	                      var y1 = parentNode.getY() + rectParent.getHeight()/2;
	                      var x2 = childNode.getX() + rectChild.getWidth()/2; 
	                      var y2 = childNode.getY() + rectChild.getHeight()/2;
	                      ctx.beginPath();
	                      ctx.moveTo(x1, y1);
	                      ctx.lineTo(x2-10, y2);
	                      ctx.lineTo(x2-10, y2-7.5);
	                      ctx.lineTo(x2, y2+2.5);
	                      ctx.lineTo(x2-10, y2+12.5);
	                      ctx.lineTo(x2-10, y2+5);
	                      ctx.lineTo(x1, y1+5);
	                      ctx.lineTo(x1, y1);
	                      ctx.closePath();
	                      ctx.fillStrokeShape(this);
	                  },
	                  points: [1, 1, 1, 3],
	                  opacity: 0.5,
	                  fill: pointerColor,
	                  strokeWidth: 2,
	                  stroke: 'black',
	                  draggable: false
	            });
			}
            return connector;
          }
        </script>
      </div>
      <%end%>
      <div id = "dataForm" style = "display: none">
	      <div class = "row">
	      	<div class = "col-md-1 col-md-offset-2">
	          <button type="button", class ="btn btn-primary btn-success", onClick = "saveData()">Save data</button>
	      	</div>
	      	<div class = "col-md-2">
	          <select id="datatype1">
				  <option value="String">String</option>
				  <option value="int">int</option>
				  <option value="boolean">boolean</option>
				  <option value="double">double</option>
			</select>
	      	</div>
	      	<div class = "col-md-2">
	          <input type="text" id="data1">
	      	</div>
	      </div>
	      <div class = "row">
	      	<div class = "col-md-2 col-md-offset-3">
	          <select id="datatype2">
				  <option value="String">String</option>
				  <option value="int">int</option>
				  <option value="boolean">boolean</option>
				  <option value="double">double</option>
			</select>
	      	</div>
	      	<div class = "col-md-2">
	          <input type="text" id="data2">
	      	</div>
	      </div>
	  </div>
	  <div class = "row">
	  	<div class = "col-md-1 col-md-offset-10">
	  		<%= simple_form_for @scene, :html => { :method => :put} do |f| %>
	  		<%= f.submit "Submit", class: "btn btn-medium btn-success" %>
	  		<% end %>
	  	</div>
	  </div>
  </body>
</html>



