<!DOCTYPE HTML>
<html>
<head>
</head>
  <body>
    <% if !user_signed_in? %>
      <div class ="welcome">
        Please sign in.
      </div>
    <% else %>
      <div class = "row">
        <p>The blue rectangle is a <b>node</b> in the list.  Nodes contain instance data such as integers, Strings, characters or other objects.  They also have an associated pointer which is shown in red.  We will only be working with singly linked lists here so there is only a <b>Next</b> pointer.  This pointer can either point to another node or to nothing as shown below.</p>
      </div>
      <div class = "row">
        <div class = "col-lg-10" id = "body-col" style = "padding-bottom: 3px">
          <div id="container" style = "border: 1px solid black;"></div>
          <script defer="defer">
            var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-235, stroke: 'black', strokeWidth: 4 });
            var layer = new Kinetic.Layer();
          </script>
          <div id = "clearme">
            <%= render 'scenes/tutorial3view' %>
          </div>
        </div>
      </div>
      <div class = "row">
        <%= link_to "Next", {:controller => "scenes", :action => "tutorial4" }, class: "btn btn-md btn-success" %>
      </div>
    <%end%>
  </body>
</html>



