<!DOCTYPE HTML>
<html>
<head>
</head>
  <body>
    <% if !user_signed_in? %>
      <div class ="welcome">
        Please sign in.
      </div>
    <% else %>
    	<div class = "row">
        <p>Welcome to the linked list practice website, before you begin using the site please take a couple minutes to read through this tutorial.</p>
        <p>This website contains several exercises for you to complete alone or in pairs that will focus on three main functions with linked lists:</p>
        <ul>
          <li><p>adding nodes</p></li>
          <li><p>removing nodes</p></li>
          <li><p>re-ordering nodes</p></li>  
        </ul>
        <p>The activities are for bonus marks and you will recieve marks based on how many questions you do and if you get them correct</p>
        <p>Each exercise will present you with a workspace like the one shown below where you can move list elements around.</p>
      </div>
      <div class = "row">
        <div class = "col-lg-10" id = "body-col" style = "padding-bottom: 3px">
          <div id="container" style = "border: 1px solid black;"></div>
          <script defer="defer">
            var stage = new Kinetic.Stage({container: 'container', width: $('#body-col').width(), height: window.innerHeight-235, stroke: 'black', strokeWidth: 4 });
            var layer = new Kinetic.Layer();
          </script>
          <div id = "clearme">
            <%= render 'scenes/tutorial1view' %>
          </div>
        </div>
      </div>
      <div class = "row">
        <%= link_to "Next", {:controller => "scenes", :action => "tutorial2" }, class: "btn btn-md btn-success" %>
      </div>
    <%end%>
  </body>
</html>



