<head>
  <script language = "javascript">

    function open_chatbox(){
      var NAME = document.getElementById("chatbox");
      var currentClass = NAME.className;
      if (currentClass == "dropup open") { // Check the current class name
          NAME.className = "dropup";   // Set other class name
      } else {
          NAME.className = "dropup open";  // Otherwise, use `second_name`
      }
    }

    function hidechatelement(){
      var NAME = document.getElementById("chat_element");
      NAME.className = "dropup marker"
    }
  
    function hold(){

      document.getElementsByTagName("html")[0].setAttribute("style","overflow:hidden");
    }

    function scroll(){

      document.getElementsByTagName("html")[0].setAttribute("style","overflow:scroll");
    }
    
    // window.onload = function SetUp(){
    //   $.ajax({
    //         type:'GET',
    //         url:"layouts/chat.js",
    //       });
    //   checkOnline();
    // }

    // function checkOnline(){
    //   if ($("#chat").is(':visible')){
    //     $.ajax({
    //         type:'GET',
    //         url:"layouts/show.js",
    //       });
    //   } else{
    //     $.ajax({
    //         type:'GET',
    //         url:"layouts/show.js",
    //       });
    //   }
    //   setTimeout(checkOnline, 5000);
    // }
  </script>  
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style = "border: 0px solid white; width: 100%" >
      <div class = "container" style= "width: 100%; padding: 0px">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style = "background-color:black; width: 100%;margin-top:10px;">
              <ul class="nav pull-left">
                  <% if user_signed_in?%>  
                    <li id = "chat">
                      <div id = "chat_div">
                      </div>
                    </li>
                    <li class="dropup marker" id = "chat_element" style = "width: 100px; text-align: right; background: black">  
                      	<a class="dropdown-toggle marker" id = "chat_link" data-toggle="dropdown" style = "text-shadow: none;  cursor:pointer; background: black;"> 
                      		Chat<b class="caret"></b>
                      	</a>  
                      	<ul class="dropdown-menu flist" style = "text-align: left; width: 120px;"> 
                          <div id = "online_div" style = "width: 120px;">
                          </div>
      					        </ul>
                    </li>
                  <% end %>
              </ul>
          </div><!-- /.navbar-collapse -->
      </div>
  </nav>
</body>
